body{
    font-size: 20px;
}

/* Navigation*/
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    height: 80px;
}
.header li{
    display: inline;
    padding: 40px;
    text-decoration: none;
}

.header a {
    color: black;
}

/* blog contatiner */
.blog-layout-main, 
.blog-layout{
    justify-content: center;
}

.blog-layout-main{
    padding: 50px 10px;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}
.card-body{
    border-bottom: 1px solid black;
}

/* Footer */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 40px;
    border-top: 1px solid black;
}
.footer li{
    display: inline;
    text-decoration: none;
}

.footer a{
    color: black;
    padding-left: 40px;
}

/* login/ logout / sign up*/

.login,
.logout,
.signup {
    text-align: center;
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #97afaf;

}