body{
    font-size: 20px;
    font-family:'Open Sans', sans-serif;
}
h1, 
h2, 
h5{
    font-family:'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;

}

a {
    color: black;
    text-decoration: none;
}

.fa-brands{
    color: black;
}
/* ------------- cross page css ---------------*/

.submit-btn{
    border-radius: 25px;
    border: 1px solid black;
    margin: 20px;
    background-color: #ccd5ae;
    padding: 10px;
    color: black;
}

.titles{
    text-decoration: underline solid #ccd5ae;
}


/* ------------------ Navigation --------------*/
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    height: 80px;
}
.header li{
    display: inline;
    padding: 40px;
    text-decoration: none;
}

.header a {
    color: black;
}
.logo{
    text-decoration: underline 3px solid #ccd5ae;
}

.header-container{
    padding-top:20px;
    text-align: center;
    height: 300px;
    background-color: #ccd5ae;
}
.fa-solid{
    color: #ccd5ae;
}
/* ------------- Footer ------------- */

.footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    background-color: #ccd5ae;
}
.footer li{
    display: inline;
    text-decoration: none;
}

.footer a{
    color: black;
    padding-left: 40px;
}

/* ------------ blog contatiner ------------- */
.blog-layout-main, 
.blog-layout{
    justify-content: center;
}

.blog-layout-main{
    padding: 0px 10px;
}
.card-title{
    text-align: center; 
    text-decoration: underline solid #ccd5ae;
    margin: 25px 0px;
}

.card-text{
    text-align: center;
    text-decoration: underline solid #ccd5ae;
}

.card-text:last-child {
    margin-bottom: 15px;
}

.blog-post-home{
    border-bottom: 1px solid black
}

.image-container img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    transition: transform 3.1s;
    opacity: 1;
}

.image-container{
    transition: transform ease-out;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5)
}

.swiper{
    justify-content: center;
}

/* ------------ login/ logout / sign up ------------*/

.login,
.logout,
.signup {
    text-align: center;
    padding: 40px;
    margin-bottom: 50px;
}

.titles{
    text-decoration: underline solid #ccd5ae;
}


form#signup_form{
    padding-top: 10px;  
} 

form#signup_form p{
    margin: 35px;
} 

form.login p {
    margin: 35px;
}

label {
    margin-right: 30px;
}

.signin-text,
.signup-text{
    margin-top: 40px;
}

form#signup_form{
    padding-top: 10px;  
}
/* ----------- posts ------------ */

.post-header{
    margin-top: 50px;
    text-align: center;
}
.post-link{
    color: black;
}

/* ------------------ Comments --------------*/ 
textarea#id_body{
    height: 50px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.comment-title{
    justify-content: center;
    text-align: center;
    text-decoration: underline solid 1px #ccd5ae;
}

label.requiredField{
   display: none; 
   margin: 30px 10px;
}
.comment-section{
    text-align: center;
}
.comment-container{
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

.lookbook-column{
    text-align: center;
}
.lookbook-column p{
    margin: 20px 0px;
}
.lookbook-column h5{
    text-decoration: underline solid 1px #ccd5ae;
}

/* ------------- lookbook  ---------------*/

.row.content{
    height: 500px;
    width: auto;
}
.lookbook{
    background-color: #ccd5ae;
    border: 1px black solid;
}
.right{
    height: 250px;
}

.card-img, .card-img-top{
    height: 60%;
    width: auto;
}

/* -------------- pseudo classes --------------*/

.submit-btn:hover{
    background-color: black;
    color: #ccd5ae;
}
.submit-btn a:hover{
    color: #ccd5ae;
}


.image-container img:hover{
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5)
}

.post-link:hover{
    color: black;
}

.nav-link:hover{
    color: black;
}
.fa-solid:hover{
    color: black;
}

/* ---------------- Media queries -------------*/
@media only screen and (max-width:575px){
    .header li{
        display: inline;
        padding: 5px;
        text-decoration: none;
    }
    
}