{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Lookbook</a></li>
            </ul>
            <h1> Logo </h1>
            <ul>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </header>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="footer"> 
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Tiktok</a></li>
            <li><a href="">Pinterest</a></li>
        </ul>
    </footer>
</body>
</html>