{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row content">
        {% for post in post_list %}
        <div class="col-sm-6 lookbook">
            <a href="{% url 'lookbook_post_detail' post.slug  %}"  class="post-link">
                <div class="image-container">
                    <img class="card-img-top " src="{{ post.features_image.url }}">
                </div>
            </a>
        {% if forloop.counter|divisibleby:1 %}
        </div>
        <div class="col-sm-6">
            <div>
                <div class="right lookbook">
                    <h1>Right</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lookbook" >
                    <div class="right">
                        <h1>right 2</h1>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{%endblock%}